{% extends 'base.html' %}
 
{% block subtitle %}- By Login{% endblock %}
 
 
{% block content %}


<div class="row">
	<div class="columnLeft">
		<h3>Logins</h3>
		{% for login in logins %}
			<a href="/logins/byLogin/{{ login }}">{{ login }}</a>
			<br />
		{% endfor %}
	</div><!-- end first column -->
	{% if fails %}
	<div class="columnRight">		
		<h3>login = "{{ login }}"</h3>							
		<table class="index">
			<th>initiated</th>
			<th>login</th>
			<th>ipaddr</th>
			{% for fail in fails %}		
			<tr class="index">
				<td>{{ fail.initiated }}</td>
				<td>{{ fail.login }}</td>
				<td>{{ fail.ip }}</td>
			</tr>
			{% endfor %}
		</table>
	</div><!-- end second column -->
	{% endif %}
</div><!-- end row div -->


{% endblock %}
